@model Nutrimeal.ViewModels.NewAtributoViewModel
@{
    ViewData["Title"] = Model.PageName;
}

<h2>Novo</h2>

<div class="form-group">
    <form asp-action="New" asp-controller="Atributo">
        <div>
            <label asp-for="@Model.AtributoInput.Nome"></label>
            <div>
                <input asp-for="@Model.AtributoInput.Nome" />
                <span asp-validation-for="@Model.AtributoInput.Nome" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <button type="submit" class="btn btn-info">Criar</button>

    </form>
</div>