<h1>Escolha uma opção</h1>

<hr />

<a asp-action="UserList"
   asp-controller="Admin"
   class="btn btn-primary">
    Ver Utilizadores
</a>

<hr />

@*<a asp-action="AdminList"
   asp-controller="PerfilAlimentar"
   class="btn btn-primary">
    Ver Perfis Alimentares dos Utilizadores
</a>

<a asp-action="AdminList"
   asp-controller="PerfilFisico"
   class="btn btn-primary">
    Ver Perfis Fisicos dos Utilizadores
</a>

<hr />*@

<a asp-action="Index"
   asp-controller="Alimento"
   class="btn btn-primary">
    Ver Alimentos
</a>

<a asp-action="Index"
   asp-controller="Exercicio"
   class="btn btn-primary">
    Ver Exercícios
</a>

<hr />